@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hide::-webkit-scrollbar {
  display: none;
}
.scroll-hide {
  scrollbar-width: none;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
